parameters:
	ignoreErrors:
		- '#Cannot call method getParameter\(\) on Nette\\Application\\UI\\Presenter\|null\.#'
		- '#Cannot cast mixed to string#'
	fileExtensions:
		- phpt

	treatPhpDocTypesAsCertain: false
